[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Legends of Runeterra
Comment=
Exec=legendsofruneterra
Icon=${SNAP}/meta/gui/legendsofruneterra.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=LoR.exe
Keywords=game
